@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply min-h-screen bg-gradient-to-br from-cyan-500 to-purple-500 text-white font-sans p-4;
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
  }

  h1 {
    @apply text-5xl font-extrabold text-center mt-24 tracking-wide drop-shadow-lg transition-transform duration-300 ease-in-out;
  }

  h1:hover {
    transform: scale(1.05);
  }

  p {
    @apply text-2xl font-medium text-center mt-12 leading-relaxed transition-opacity duration-300 ease-in-out;
  }

  p:hover {
    opacity: 0.8;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* Home.module.css or a global stylesheet */

.navbar {
  display: flex;
  justify-content: center;
  background-color: #33333311;
  padding: 10px 0;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.032);
}

.nav-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 15px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
}

.nav-button:hover {
  background-color: #45a049;
  transform: translateY(-2px);
}

.nav-button:focus {
  outline: none;
}

.nav-button:active {
  background-color: #388e3c;
}



nextjs-portal {
  display: none;
}